@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  @apply text-xs;
}

h2 {
  @apply font-bold;
}

h4 {
  @apply font-medium;
}

/* input {
  line-height: 1.5;
}

input::placeholder {
  line-height: 1;
} */


/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #e7eef4 4%, #f4f8fb 25%, #e7eef4 36%);
  background-size: 1600px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1600px 0;
  }
  100% {
    background-position: 1600px 0;
  }
}
