.videoplayer > .video-js .vjs-big-play-button {
  @apply bg-transparent h-24 w-24 rounded-full border-5 #{!important};

  top: calc(50% - theme('spacing.12'));
  left: calc(50% - theme('spacing.12'));
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  @apply text-5xl w-auto h-auto #{!important};

  top: calc(50% - 22.5px) !important;
  left: calc(50% - 25px) !important;
}

.videoplayer-block-header .video-js {
  padding-top: 42%;
}

.videoplayer-block-header
  .video-js
  .vjs-big-play-button
  .vjs-icon-placeholder::before {
  @apply text-5xl w-auto h-auto #{!important};

  top: calc(50% - 22.5px) !important;
  left: calc(50% - 24px) !important;
}

.videoplayer-block-header > .video-js .vjs-big-play-button {
  @apply h-16 w-16 #{!important};

  top: calc(50% - theme('spacing.8'));
  left: calc(50% - theme('spacing.8'));
}

.vjs-error .vjs-error-display {
  background: none !important;

  @apply bg-gray-100 #{!important};
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content {
  @apply flex items-center justify-center text-blue-800 text-xs pt-32 #{!important};
}

.vjs-error .vjs-error-display::before {
  text-shadow: none !important;
  top: 35% !important;
  left: calc(50% - 3.5rem) !important;

  @apply flex items-center justify-center mb-5 bg-gray-200 rounded-full h-28 w-28 text-blue-500 #{!important};
}
